# --- RAHASIA NEGARA (JANGAN DIHAPUS) ---
.env

# --- SAMPAH PYTHON ---
__pycache__/
*.pyc

# --- FOLDER PENYIMPANAN (BIAR GAK BERAT) ---
storage/screenshots/
storage/webcam/
storage/videos/
storage/reports/
storage/temp_images/

# --- LAINNYA ---
.DS_Store
.vscode/

# --- DATABASE & BINARY ---
*.db
*.exe